        <br>
       </div>
        <footer class="footer">
          <div class="container">
            <p class="text-muted">&copy; YelpHotel 2018 | <a href="/hotelss">Home</a> | <a href="/hotels/new">New Hotel</a></p>
          </div>
        </footer>
        <script src="/scripts/bootstrap.min.js"></script>
        <script src="/scripts/jQuery.js"></script>

      <br>
    </body>
</html>
