<!DOCTYPE html>
<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    </head>
    <body>
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/hotels">Landing Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="//codeply.com">Codeply</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto fas fa-hotel" href="/hotels">Hotels</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
         <% if(!currentUser){ %>
            <li class="nav-item">
                <a class="nav-link fas fa-sign-in-alt" href="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link fas fa-user-plus" href="/register">Sign Up</a>
            </li>
           <% }else{ %>
           <li class="nav-item loged">
               <a href="#"><i class="fas fa-user-tie"></i> <%= currentUser.username %> </a>
            </li>
            <li class="nav-item">
                <a class="nav-link fas fa-sign-out-alt" href="/logout">Logout</a>
            </li>
          <% } %>
        </ul>
    </div>
</nav>
<br>
      <div class = "container">
        <% if(error && error.length > 0){ %>
          <div class="alert alert-danger" role="alert">
              <%= error %>
          </div>
        <% } %>
        <% if(success && success.length > 0){ %>
          <div class="alert alert-danger" role="alert">
              <%= success %>
          </div>
        <% } %>
       </div>
<br>
